<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Console</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>

</head>
<body>

<header class="container">
    <div class="row text-center">
        <h1>Admin</h1>
    </div>
</header>

<section class="jumbotron">
    <div class="container">
        <div class="row text-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <font color="red">{{ message }}</font>
            <br><br>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <button onclick="location.href='/poem';" type="submit" name="submit">Add Line</button>

            <button onclick="location.href='/data/';" type="submit" name="submit">View Lines</button>
<br><br>
            <button onclick="location.href='/save';" type="submit" name="submit">Import/Export Lines</button>
            <br><br>
            <button onclick="location.href='/clear';" type="submit" name="submit">Clear All Lines</button>
        </div>

    </div>
</section>

<center>
    <button onclick="location.href='/';" type="submit" name="submit">User</button>
</center>
</body>
</html>