<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save file</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
</head>
<body>
<header class="container">
    <div class="row text-center">
        <h1>Database filled</h1>
    </div>
</header>
<section class="jumbotron">
    <div class="container">
        <div class="row text-center">

            <button onclick="location.href='/';" type="submit" name="submit">Generate poems</button>
            <button onclick="location.href='/data/';" type="submit" name="submit"> View Lines</button>
        </div>
    </div>
</section>
</body>
</html>