<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poem Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
</head>
<body>
<header class="container">
    <div class="row text-center">
        <h1>Poem Generator</h1>
    </div>
</header>


<section class="jumbotron">
    <div class="container">
        <div class="row text-center">

            <form action="/" method=post>
                {{ form.hidden_tag() }}

                <p>How are you feeling?</p>
                {{ form.feelings(rows="4", cols="50") }}
                <br><br>
                {% for message in form.feelings.errors %}
                <font color="red">{{ message }}</font>
                <br> <br>
                {% endfor %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <font color="red">{{ message }}</font>
                <br><br>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {{ form.generate(class="other-buttons") }}

                <br><br>
                {% for line in feelings %}
                <p> {{ line }} </p>
                {% endfor %}

                <br>
        </div>
    </div>
    <center>
        <div class="rwords_div">
            <font class='rwords'>Word Replacement &nbsp;</font></div>
        <label class="switch">
            {{ form.replacewords }}
            <div class="slider round"></div>
        </label>

        <div class="rwords_div">
            <font class='rwords'>&nbsp;&nbsp;&nbsp;Dominant Emotion &nbsp;</font></div>
        <label class="switch">
            {{ form.domemotion }}
            <div class="slider round"></div>
        </label>

        <div class="rwords_div">
        <font class='rwords'>&nbsp;&nbsp;&nbsp; Shared Emotions &nbsp;</font></div>
        <label class="switch">
            {{ form.select_or }}
            <div class="slider round"></div>
        </label>
        <div class="rwords_div">
            <font class='rwords'>&nbsp;&nbsp;&nbsp; No Fillers &nbsp;</font></div>
        <label class="switch">
            {{ form.no_fillers }}
            <div class="slider round"></div>
        </label>
    </center>
    </form>
</section>
<center>

    <br>

    <input class="other-buttons" onclick="location.href='/admin';" type="submit" name="submit" value="Admin">

</center>
</body>
</html>